@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Argensteam1.Models.Usuario
@{
    ViewData["Title"] = "Inicio Sesion";
}
 <div class="d-flex flex-column min-vh-100  justify-content-center align-items-center a1">
            <div class="card p-4 text-light bg-dark mb-5 rounded-lg ancho">
                <div class="card-header">
                    <h3>Iniciar sesión </h3>
                </div>
                <div class="card-body w-100 mt-3">
                    <script src = "validaciones.js"></script>
                    <form name="login" action="" method="post" onsubmit="validarFormulario(event)">
                        <div class="input-group form-group mt-3">
                            <div class="bg-secondary rounded-start">
                                <span class="m-3"><i class="bi bi-person mt-3"  ></i></span>
                            </div>
                            <input id="ususario" type="text" class="form-control" placeholder="Usuario" name="Username" asp-for="Username" onchange="validarNombre(this.value)">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="input-group form-group mt-3">
                            <div class="bg-secondary rounded-start">
                                <span class="m-3"><i class="bi bi-lock"></i></span>
                            </div>
                            <input id="contrasenia" type="password" class="form-control" placeholder="Contraseña"  asp-for="Password" name="password" onchange="validarContrasenia(this.value)"
                            onkeypress="validarContrasenia(this.value)">
                           <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-5">
                            <input type="submit" value="Acceder" class="btn bg-secondary float-end text-white w-100"  name="login-btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center container">
                        <a asp-action="Registro" class=" register-btn col-md-3"  name="register-btn">Registrarse</a>
                        <div class="col-md-1"></div>
                    <a class=" register-btn  col-md-5"  name="olvido">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
          @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}