@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Argensteam1.Models.Noticia>
@{
    ViewData["Title"] = "Noticias";
}


<h1 class="tituloTarjeta">Últimas Noticias</h1>


<div class="table-responsive">
<table class="col-md-10 table align-middle table-striped">
    @foreach (Noticia noticia in Model)
    {
    <tr class="table-light">
        <td>
            <div class= "mt-4">
                <a href="@Html.DisplayFor(noticiaItem => noticia.Url)" target="_blank">
                    <h2> @Html.DisplayFor(noticiaItem => noticia.Titulo) </h2>
                </a>
                <p class="mt-2"> @Html.DisplayFor(noticiaItem => noticia.Descripcion) </p>
            </div>
        </td>
    </tr>  
    }

</table>
</div>

