.body {
    background-image: url('../images/fondo.jpg');
    background-size: cover;
}
@font-face {
    font-family: 'Avengeance Heroic Avenger';
    font-style: normal;
    font-weight: 400;
    src: local('Avengeance Heroic Avenger'), url('https://fonts.cdnfonts.com/s/14865/AVENGEANCE HEROIC AVENGER.woff') format('woff');
}
@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/permanentmarker/v16/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cfw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.logo {
    margin: 0;
    padding: 20px;
    height: 100px;
    width: 250px;
    font-family: 'Avengeance Heroic Avenger', sans-serif;
    color: white;
    -webkit-text-stroke: 0.8px rgb(60, 55, 212);
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.77);
    text-shadow: 0 0 40px #fff;
    text-decoration: underline;
}

.as {
    align-self: center;
}

.nav-button {
    color: white;
    font-family: 'Permanent Marker';
    font-size: x-large;
}

.nav-fondo {
    background-color: black;
    position: relative;
    z-index: 2;
}

.inicio {
    color: antiquewhite;
    text-decoration: underline;
}


.opacity::before {
    content: "";
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: -362px;
    left: 0px;
    opacity: 0.40;
    z-index: 1;
}

.ancho {
    width: 40%;
    height: auto;
}

.register-btn {
    color: white;
    font-size: large;
    text-align: center;
}

i {
    vertical-align: -webkit-baseline-middle;
    font-size: x-large;
}

.a1 {
    margin-top: 2rem;
    position: relative;
    z-index: 2;
}

.categoria {
    font-family: "Motiva Sans", Sans-serif;
    color: rgba(95, 135, 228, 0.874);
}

.aside {
    border: 3px solid darkgoldenrod;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 40px;
    background-color: rgba(15, 18, 21, 0.755);
    height: 760px;
   
}
.aside2 {
    border: 3px solid darkgoldenrod;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 40px;
    padding-top: 40px;
    background-color: rgba(15, 18, 21, 0.755);
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
}
    .tamaño {
        height: 30rem;
        margin: 0;
        padding: 0;
        width: 80%;
    }

.titulo {
    color: white;
   margin-left:7rem;
}
.titulo2 {
    margin-left:1rem;    
    color: white;
}
    .tituloTarjeta {
    padding-top:1.5rem;
    color: white;
    height: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
.carrusel {
    font-family: "Motiva Sans", Sans-serif;
    font-size: 1.2rem;
    color: white;
}
.shadow {
    background-color:rgba(15, 18, 21, 0.70);
    box-shadow: 7px 9px 15px black inset;
}

.sinMargen {
    margin: 0;
    padding: 0;
}

.carrouselCentrado {
    text-align: -webkit-center;
}

.tamañoJuegoVenta {
    height: 14rem;
    margin: 0;
    padding: 0;
    width: 13rem;
}

.tarjeta {
    text-align: center;
    align-content: center;
    align-items: center;
    height: 400px;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}
.descripcion {
    margin-bottom: 2rem;
    font-family: 'Permanent Marker';
}

.error {
    color: red;
}

.formato{
    width: 70%;
}

.fondo{
    background-color:#9fa9b2d3;
    
}
.opacityTable {
    opacity: 0.60;
    content: "";
    width:80%;
}
